/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/


  <style type="text/css">

    :root {
      --primary: #d81b60;
      --success: #d81b60ed;
    }
    a{color: #d81b60}
    a.btn{color: #fff}
    a.btn:hover, a.btn:active{color: #555A64}
    button, .btn{outline: none!important;}
    .cart-btn{padding: 1px 13px; position: relative;}
    .cart-btn > .nb-product-cart{
      position: absolute;
      top: -5px;
      right: -3px;
      background: white;
      font-size: 11px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: #d81b60;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;
    }
    .goto-formule{display: none;}
    .item-elt-foot{
      display: flex;
      flex-direction: column;
      align-items: left;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
      background: #d81b60;
    }
    .item-elt-foot .nav{display: block!important }
    .item-elt-foot .nav .nav-link{display: inline-block;}
        
    .toast__container{z-index: 99999!important}
    /*.navbar img.logo{width: 140px}*/
    .navbar img.logo.scrolled-logo {display: none;}
    .navbar.scrolled img.logo.default-logo {display: block !important;}
    .navbar.scrolled img.logo.scrolled-logo {display: none !important}

    .floating-wpp{bottom: 20px;z-index: 9999;}
    .floating-wpp .floating-wpp-button{
      width: 55px!important;
      height: 55px!important;
    }
    .floating-wpp .floating-wpp-popup.active{
      bottom: 60px;
    }
    .floating-wpp:hover{bottom: 21px;}
    html {
      scroll-behavior: smooth;
    }
    ul{list-style: none;}
    .cart-wrapper {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 290px;
      background: #fff;
      z-index: 1055;
      padding: 25px 20px 10px;
      transition: linear .2s right;
      right: -290px;
      overflow-y: auto;
      box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.1);
      font-size: 14px;
    }
    .cart-wrapper.open{right: 0}
    .cart-wrapper .product-item{
      display: flex;
      margin-top: 11px;
    }
    .cart-wrapper .product-item .img-contaniner{
      width: 80px;
      text-align: center;
      margin-right: 13px;
    }
    .cart-wrapper .product-item img.product-img {
      height: 60px;
      max-width: 100%;
      object-fit: cover;
    }
    .cart-wrapper .product-item ul.detail-list {
      padding-left: 14px;
    }
    .cart-wrapper .form-coupon{
      display: flex;
      align-items: stretch;
      margin-top: 15px;
    }
    .cart-wrapper .form-coupon .valide-coupon {
      background: #d81b60;
      color: #fff;
      width: 105px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .cart-wrapper .totaux{
      padding: 0;
      line-height: 27px;
      margin-top: 18px;
    }
    .cart-wrapper .totaux > .item > span:last-child {
      font-weight: 800;
      float: right;
    }
    .cart-wrapper .form-control, .cart-wrapper .form-control:focus{
      border-radius: 0!important;
    }
    .cart-wrapper .toggle-cart{
      cursor: pointer;
      position: absolute;
      top: 12px;
      color: #888;
    }


    .cart-container .control-qte{
      width: 32px;
      text-align: center;
      border: 1px solid #8888885c;
      border-radius: 4px;
      height: max-content;
      margin-left: 10px;
    }
    .cart-container .control-qte > *{width: 100%}
    .cart-container .qte-change{
      height: 15px;
      display: block;
      cursor: pointer;
    }
    .cart-container .input-qte{
      border:none;
      text-align: center;
      border-top: 1px solid #8888885c;
      border-bottom: 1px solid #8888885c;
      height: 18px;
      font-size: 12px;
    }
    /**
     * The CSS shown here will not be introduced in the Quickstart guide, but shows
     * how you can use CSS to style your Element's container.
     */
    .StripeElement {
      box-sizing: border-box;

      height: 40px;

      padding: 10px 12px;

      border: 1px solid transparent;
      border-radius: 4px;
      background-color: white;

      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
      border:1px solid #f4f4f4;
    }

    .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
      border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }
    #card-errors{color: #c31b1b; font-size: 14px;}
    /*#modal-payment button.submit {
        cursor: pointer;
        display: inline-block;
        height: 40px;
        width: 100%;
        margin-top: 40px;
        font-size: 15px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.025em;
        text-decoration: none;
        white-space: nowrap;
        background: #b64645;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        -webkit-transition: all 150ms ease;
        transition: all 150ms ease;
    }*/
    #modal-payment .paid-head{
        text-align: center;
        color: #b64645;
        margin-top: 15px;
    }
    .lds-ripple {
        display: none;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-50%);
        z-index: 50;
    }
    .lds-ripple div {
      position: absolute;
      border: 4px solid #d81b60;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
      0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
      }
      100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
      }
    }
    .form-group{margin-bottom: 5px;}
    #modal-payment .modal-dialog, #sign-in-modal .modal-dialog{max-width: 400px;}
    .list-cart{
      position: absolute;
    }
    .list-inline-item:not(:last-child){margin-right: 0}
    .list-inline-item .fa-2x {
      color: #d81b60!important;
      font-size: 1.7em;
    }

    /**
     * Extracted from: SweetAlert
     * Modified by: Istiak Tridip
     */
    .success-checkmark {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        z-index: 60;
      width: 80px;
      height: 115px;
      margin: 0 auto;
      display: none;
    }
    .success-checkmark .check-icon {
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      border: 4px solid #4CAF50;
      display: none;
    }
    .success-checkmark .check-icon::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }
    .success-checkmark .check-icon::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }
    .success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
      content: '';
      height: 100px;
      position: absolute;
      background: #FFFFFF;
      transform: rotate(-45deg);
    }
    .success-checkmark .check-icon .icon-line {
      height: 5px;
      background-color: #4CAF50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;
    }
    .success-checkmark .check-icon .icon-line.line-tip {
      top: 46px;
      left: 14px;
      width: 25px;
      transform: rotate(45deg);
      animation: icon-line-tip 0.75s;
    }
    .success-checkmark .check-icon .icon-line.line-long {
      top: 38px;
      right: 8px;
      width: 47px;
      transform: rotate(-45deg);
      animation: icon-line-long 0.75s;
    }
    .success-checkmark .check-icon .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, 0.5);
    }
    .success-checkmark .check-icon .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #FFFFFF;
    }

    @keyframes rotate-circle {
      0% {
        transform: rotate(-45deg);
      }
      5% {
        transform: rotate(-45deg);
      }
      12% {
        transform: rotate(-405deg);
      }
      100% {
        transform: rotate(-405deg);
      }
    }
    @keyframes icon-line-tip {
      0% {
        width: 0;
        left: 1px;
        top: 19px;
      }
      54% {
        width: 0;
        left: 1px;
        top: 19px;
      }
      70% {
        width: 50px;
        left: -8px;
        top: 37px;
      }
      84% {
        width: 17px;
        left: 21px;
        top: 48px;
      }
      100% {
        width: 25px;
        left: 14px;
        top: 45px;
      }
    }
    @keyframes icon-line-long {
      0% {
        width: 0;
        right: 46px;
        top: 54px;
      }
      65% {
        width: 0;
        right: 46px;
        top: 54px;
      }
      84% {
        width: 55px;
        right: 0px;
        top: 35px;
      }
      100% {
        width: 47px;
        right: 8px;
        top: 38px;
      }
    }
    .box-error-payment{
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      z-index: 2;
    }

    /* custom nan reponsive */
    .navbar.navbar-toggled-show img.logo.default-logo{
      display: block;
      margin-left: 1rem;
    }
    .navbar.navbar-toggled-show img.logo.scrolled-logo{
      display: none;
    }
    .navbar.navbar-toggled-show .right-close{
      margin-right: 1rem;
    }
    .navbar.navbar-toggled-show .navbar-collapse{
      background: #fff;
    }
    .navbar.navbar-toggled-show .navbar-nav{margin: 0!important;}
    .navbar.navbar-toggled-show{
      text-align: center;
      background: rgb(34, 155, 114);
      padding: 0;
    }
    .navbar.navbar-toggled-show > .container{
      max-width: 100%;
    }
    .navbar.navbar-toggled-show li.nav-item:nth-child(2n + 1) {
      background: #fdf2f5;
    }
    .navbar.navbar-toggled-show li.nav-item:nth-child(2n) {
      background: #f1fdf9;
    }
    .navbar.navbar-toggled-show li.nav-item:last-child {
      background: #fff;
    }
    .navbar li.nav-item:last-child{display: none;}
    .navbar.navbar-toggled-show li.nav-item:last-child{display: block;}
    .navbar.navbar-toggled-show li.nav-item:last-child > div {
      display: block;
      padding: 5rem 0 2rem;
      max-width: 200px;
      margin: auto;
      display: flex;
      justify-content: space-around;
    }
    .navbar.navbar-toggled-show li.nav-item:last-child > div > .fa{
      font-weight: 600;
      background-color: #229b72;
      border-radius: 30px;
      color: #fff;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      margin: auto 3px;
      width: 25px;
      font-size: 13px;
      text-align: center;
      cursor: pointer;
    }
    .navbar.navbar-toggled-show.navbar-dark .navbar-nav .nav-link{
      color: #333;
      line-height: 2em;
    }

    /*.navbar.navbar-toggled-show.navbar-dark .navbar-toggler svg [stroke]:not([stroke="none"]){stroke: #fff!important;}*/
    
    .navbar .shopping-cart{
      color: #fff;
      padding: 10px;
    }
    .navbar .shopping-cart:hover {
      color: #d81b5f;
    }
    .btn-primary.btn:hover  {
        color: #d81b60 !important;
    }
    @media(max-width: 992px){
      .navbar-dark .navbar-toggler {
          margin-right: 1rem;
      }
      .separe-nav-xs{
        width: 2px;
        height: 30px;
        background: #fff;
        margin: 0 1rem 0 1rem;
      }
      .btn-primary.btn.cart-btn{
        background: transparent;
        border: none;
        font-size: 20px;
        padding: 0;
      }

      .navbar.scrolled .shopping-cart{
        color: #2C3038;
      }
      /*.navbar.navbar-toggled-show.scrolled .shopping-cart{
        color: #fff;
      }*/
      .navbar.scrolled .separe-nav-xs{
        background: #2C3038;
      }
      /*.navbar.navbar-toggled-show.scrolled .separe-nav-xs{
        background: #fff;
      }*/
      .navbar.navbar-toggled-show{
        box-shadow: 0px -1px 25px -5px rgba(0, 0, 0, 0.1);
      }
    }
    body{
      font-family: 'Poppins' !important;
    }
    div.thumb-middle {
        /*max-width: 1700px;*/
        margin: auto;
    }
  </style>

  <style type="text/css">
      label.error{
        color: #bf0c0c;
        font-size: 13px;
        font-style: italic;
      }
     
      .navbar ul.navbar-nav li.nav-item a{
        color: white;
      }
      .btn-primary.btn {
          background-color: #d81b60;
          border-color: #d81b60;
      }
      .btn-outline-primary {
          color: #d81b5f;
          border-color: #d81b5f;
      }
      .btn-outline-primary {
          border-color: rgb(216, 27, 95);
      }
      .btn-outline-primary:hover,.btn-primary:hover  {
            background-color:#fff;
            border-color: rgba(216, 27, 95, 0.46);
            color: #d81b5f;
      }
      .position-fixed.navbar-light .navbar-nav .nav-link {
          color: rgb(255, 255, 255);
      }
      .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
          color: rgb(255, 255, 255);
      }
      .navbar-light .navbar-nav .nav-link::after {
        background: #fefefe;
      }
      @media(max-width: 992px){
        .rowly > div {
            max-width: 45%;
        }
      }
      @media(max-width: 992px){
        .rowly > div {
            max-width: 45%;
        }
      }
       .payment-list img {
            max-width: 100%;
            height: 30px;
        }



   .img-thumb{
      height: 450px;
      display:none;
   }
   .img-thumb img{
      width: 100%;
       height: 100%;
       object-fit: cover;
   }
   .thumb-middle{
      display: flex;
       align-items: flex-start;
       justify-content: space-between;
   }
   .thumb-middle > * {
       width: 100%;
   }
   .thumb-middle .image-center img{
      width: 100%;
       height: 100%;
       object-fit: cover;
   }


   .image-grid{
     display: grid;
     display:none;
     grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
     /*grid-gap: 1rem;*/
   }
   .image-grid a {
     height: 12rem;
     width: 100%;
     -o-object-fit: cover;
        object-fit: cover;
   }
   .thumb-middle .image-grid{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
     /*grid-gap: 1rem;*/
   }
   .thumb-middle .image-grid a {
     height: 12rem;
     width: 100%;
     -o-object-fit: cover;
        object-fit: cover;
   }
   .image-grid a img {
     height: 100%;
     width: 100%;
     object-fit: cover;
     -o-object-fit: cover;
        object-fit: cover;
   }
   @media(max-width: 992px){
      .thumb-middle .image-center{display: none;}
   }
   @media(max-width: 768px){
      .cart-btn > .nb-product-cart{
        background: #d81b60;
        color: #fff;
      }
      .thumb-middle{display: block;}
      .goto-formule{
        display: block;
        position: fixed;
        bottom: 0;
        z-index: 1000;
        border-radius: 0;
        width: 100%;
        font-size: 20px;
      }
      footer{
        margin-bottom: 53px;
      }
   }
   .cart-container .form-control {
      display: block;
      width: 60%;
    }
    .cart-container .list-recap{
      font-size: 14px;
      padding: 0 1.4rem;
    }
    .cart-container .list-recap .recap-item{
      font-size: 14px;
      margin-top: 4px;
    }
    .cart-container .list-recap .recap-item >.recap-value {
      float: right;
      font-weight: 600;
    }
    .btn-primary.btn {
        color: white !important;
    }
    .toast__container .toast__cell .toast{
      opacity: 1;
    }
    </style>